## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation_v2.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Grand Forks,US,82.78,few clouds,47.9417,-97.4337,Warrior Inn
1,1,Svetlaya,RU,63.70,overcast clouds,46.5389,138.3297,NaN
2,2,Basco,PH,83.77,clear sky,20.4487,121.9702,Nathaniel's Lodge
3,3,Ribeira Grande,PT,70.20,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
4,4,Paris,FR,77.07,clear sky,48.8534,2.3488,Britannique Hotel - Paris Centre
5,5,Leningradskiy,RU,37.62,overcast clouds,69.3833,178.4167,Gostinitsa
6,6,Atuona,PF,77.38,broken clouds,-9.8000,-139.0333,Villa Enata
7,7,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
8,8,Kibala,TD,80.55,few clouds,9.1104,18.3463,Prasant Hotels
9,9,Butaritari,KI,82.13,light rain,3.0707,172.7902,Isles Sunset Lodge
10,10,Tari,NG,85.06,light rain,12.4086,4.4914,NaN
11,11,Lebu,CL,50.70,clear sky,-37.6167,-73.6500,Hostal Las Lilas
12,12,Chuy,UY,69.64,scattered clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
13,13,Kodiak,US,55.89,broken clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
14,14,Georgetown,MY,83.89,thunderstorm,5.4112,100.3354,Cititel Penang

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Grand Forks,US,82.78,few clouds,47.9417,-97.4337,Warrior Inn
1,1,Svetlaya,RU,63.70,overcast clouds,46.5389,138.3297,NaN
2,2,Basco,PH,83.77,clear sky,20.4487,121.9702,Nathaniel's Lodge
3,3,Ribeira Grande,PT,70.20,scattered clouds,38.5167,-28.7000,Quinta da Meia Eira
4,4,Paris,FR,77.07,clear sky,48.8534,2.3488,Britannique Hotel - Paris Centre
5,5,Leningradskiy,RU,37.62,overcast clouds,69.3833,178.4167,Gostinitsa
6,6,Atuona,PF,77.38,broken clouds,-9.8000,-139.0333,Villa Enata
7,7,Avarua,CK,75.25,broken clouds,-21.2078,-159.7750,Paradise Inn
8,8,Kibala,TD,80.55,few clouds,9.1104,18.3463,Prasant Hotels
9,9,Butaritari,KI,82.13,light rain,3.0707,172.7902,Isles Sunset Lodge
10,10,Tari,NG,85.06,light rain,12.4086,4.4914,NaN
11,11,Lebu,CL,50.70,clear sky,-37.6167,-73.6500,Hostal Las Lilas
12,12,Chuy,UY,69.64,scattered clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
13,13,Kodiak,US,55.89,broken clouds,57.7900,-152.4072,Best Western Kodiak Inn And Convention Center
14,14,Georgetown,MY,83.89,thunderstorm,5.4112,100.3354,Cititel Penang

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df['City'] == 'Grand Forks')]
vacation_end = vacation_df.loc[(vacation_df['City'] == 'Grand Forks')]
vacation_stop1 = vacation_df.loc[(vacation_df['City'] == 'Chuy')]
vacation_stop2 = vacation_df.loc[(vacation_df['City'] == 'Lebu')]
# vacation_stop3 = vacation_df.loc[(vacation_df['City'] == 'Paris')]

In [7]:
# In Step 6, use the to_numpy() function and list indexing to write code to retrieve the latitude-longitude pairs as tuples from each city DataFrame.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
# stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps
import gmaps.datasets

fig = gmaps.figure()
direction_layer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2], travel_mode='WALKING')
fig.add_layer(direction_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Grand Forks,US,82.78,few clouds,47.9417,-97.4337,Warrior Inn
1,12,Chuy,UY,69.64,scattered clouds,-33.6971,-53.4616,Nuevo Hotel Plaza
2,11,Lebu,CL,50.70,clear sky,-37.6167,-73.6500,Hostal Las Lilas

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """

<dl>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.

# 11b. Display the figure



# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.

locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))